body {
  margin: 0;
  padding: 0;
  font-family: "Manrope";
}
#frete-info {
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #923e12;
  width: 100%;
  height: 43px;
}
header a:visited {
  color: #b7521c;
  font-weight: 500;
  font-size: 18px;
}
nav {
  display: flex;
  gap: 0;
}
input {
  border: 2px solid #b7521c;
  border-radius: 6px 0 0 6px;
  width: 439px;
  height: 30px;
  padding-left: 12px;
}
#logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  background-color: #fff;
  height: 110px;
  font-weight: 600;
}
#lupa {
  background-color: #b7521c;
  border-radius: 0 6px 6px 0;
  padding: 5px;
}
#buy-button {
  border: 2px solid #b7521c;
  border-radius: 12px;
  padding: 6px;
  font-weight: 600;
}
#texto-principal {
  margin: 6% 4% 6% 10%;
}
#first-sect {
  display: flex;
  background-color: #b7521c;
  height: 418px;
  justify-content: center;
}
h3 {
  font-weight: 500;
  color: #fff;
  font-size: 34px;
  font-family: "Maven Pro";
}
#text {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
}
#coffee {
  margin: 0 8% 0 0;
}
#texto2 {
  font-size: 30px;
  color: #923e12;
  font-weight: 700;
  display: flex;
  justify-content: center;
}
#filtro {
  display: flex;
  gap: 2%;
  color: #923e12;
  font-weight: 500;
  display: flex;
  justify-content: center;
  font-size: 22px;
  list-style: none;
}
.estrelas-avaliação {
  color: #ecae39;
  font-size: 30px;
}
a {
  text-decoration: none;
}
.info-produtos {
  font-size: 22px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.btn-produto {
  border-radius: 100px;
  background-color: #fff;
  border: 2px solid #923e12;
  font-size: 28px;
  padding-left: 10px;
  padding-right: 10px;
  color: #923e12;
}
.numero-avaliação a:visited {
  color: #000;
}
.btn-produto-adicionar {
  border-radius: 25px;
  background-color: #923e12;
  font-size: 16px;
  padding: 12px 18px;
  color: #fff;
  border: 0;
}
.input-produto {
  width: 30px;
  background-color: #f5f5f5;
  border: 0;
  color: #923e12;
  font-size: 28px;
  font-weight: 600;
}
.btn-produto-menos {
  border-radius: 100px;
  background-color: #fff;
  border: 2px solid #923e12;
  font-size: 28px;
  padding-left: 13px;
  padding-right: 14px;
  color: #923e12;
}
.btn-input {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  border-radius: 50px;
}
#section-produtos {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  padding: 6%;
  margin-top: 2%;
  gap: 6%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 10%;
}
a:visited {
  color: #0000;
}
.nome-produto a:visited {
  font-size: 22px;
  color: #923e12;
}
.img-produto {
  max-width: 100%;
  height: auto;
  padding-top: 8%;
}
#sect-btn {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 8%;
}
#numero-paginas {
  background-color: #923e12;
  width: 240px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  gap: 14px;
}
.btn {
  border: 0;
  color: #fff;
  background-color: #923e12;
  font-weight: 600;
  font-size: 20px;
}
#btn-ativo {
  background-color: #fff;
  border-radius: 20px;
  font-size: 20px;
  border: 0;
  font-weight: 600;
  padding: 6px 12px 5px 11px;
  color: #923e12;
}
#ultimo-btn {
  background-color: #923e12;
  border-radius: 20px;
  font-size: 20px;
  border: 0;
  font-weight: 600;
  padding: 6px 12px 6px 11px;
  color: #fff;
}
h2 {
  background-color: #923e12;
  height: 136px;
  font-size: 38px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
#footer-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo-branco-footer {
  border-radius: 50%;
  margin-top: -6%;
  display: flex;
  justify-content: center;
}
#rodapé-info-1 {
  color: #fff;
  display: grid;
  justify-items: center;
  text-align: center;
  padding-bottom: 40px;
}
#rodapé-info-1 input {
  width: 536px;
  border: 0;
  margin-bottom: 2%;
  border-radius: 6px;
  box-shadow: 0 2px 4px #00000051;
}
#button-assinar {
  color: #b7521c;
  border: 0;
  width: 96px;
  height: 36px;
  border-radius: 12px;
}
#rodapé-info-2 {
  display: flex;
  justify-content: center;
  gap: 2%;
  padding-bottom: 4%;
}
#rodapé-info-3 {
  display: flex;
  justify-content: center;
  gap: 2%;
  padding-bottom: 38px;
}
#rodapé-info-4 {
  display: flex;
  justify-content: center;
}
.info-footer-link {
  color: #ffffff8f;
}
footer {
  background-color: #923e12;
  padding-bottom: 50px;
}
@media (max-width: 1390px) {
  #section-produtos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  #inputnav {
    width: 200px;
  }
  h3 {
    font-size: 26px;
  }
  #text {
    font-size: 18px;
  }
  #texto-principal {
    margin: 6% 2% 0 6%;
  }
  #coffee {
    width: 50%;
    height: 300px;
    margin-right: 10%;
  }
  #first-sect {
    height: 300px;
  }
  #texto2 {
    font-size: 26px;
  }
  #filtro {
    font-size: 20px;
  }
}
@media (max-width: 1280px) {
  #section-produtos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  #inputnav {
    display: none;
  }
  #lupa {
    border-radius: 36%;
    border: 0;
  }
  h3 {
    font-size: 22px;
  }
  #text {
    font-size: 16px;
  }
  #texto-principal {
    margin: 6% 4% 0 6%;
  }
  #coffee {
    width: 50%;
    height: 250px;
    margin-right: 10%;
  }
  #first-sect {
    height: 250px;
  }
  #texto2 {
    font-size: 22px;
  }
  #filtro {
    font-size: 16px;
  }
}
@media (max-width: 820px) {
  #section-produtos {
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    flex-direction: row;
    gap: 20px;
  }
  h3 {
    font-size: 18px;
  }
  #text {
    font-size: 12px;
  }
  #texto-principal {
    margin: 4% 4% 0 6%;
  }
  #coffee {
    width: 76%;
    height: 212px;
    margin-right: 10%;
  }
  #first-sect {
    height: 212px;
  }
  #texto2 {
    font-size: 22px;
  }
  #filtro {
    font-size: 16px;
  }
  .firts-links {
    display: none;
  }
}
